@{
ViewData["Title"] = "Home Page";
}


<h1>Welcome to Gabe's Movie Blog</h1>
<p>
In this page, you will see the most recent movies I have watched and how many stars I gave them!<br />
All of them will have a little paragraph about the plot (thanks, Wikipedia!). Want to learn how to do it? Please visit <a asp-area="" asp-controller="Home" asp-action="Calculator">this site</a>!
</p>

<img src="images/maria-2.png" height="400" />
<br />
<br />
<p>
I started watching movies when I was pretty young. I used to fall in love with the color and the emotions portrayed.
The Incredibles, Dumbo, I was obsessed with the intricate details of these movies!
Now that I am in Utah, I have been able to see movies premiered at the Sundance Festival, as well as movies that do not usually get distribution overseas.
(I am from Peru, so it is harder for indie movies to get distribution there).
</p>

<br />
<h2>Some of my current favorites! (in no particular order)</h2>
<ul>
<li><h3>Maria (dir. Pablo Larrain)</h3></li>
<p>
    <img src="images/maria-1.png" height="200" /><br />
    Maria is a 2024 biographical psychological drama film directed by Pablo Larraín
    and written by Steven Knight. It is an international co-production between Italy,
    Germany, and the United States. The film stars Angelina Jolie as opera singer Maria Callas,
    and follows the seven days before her death in 1977 Paris as she reflects on her life and career.
</p>

<li><h3>Wicked (dir. Jon M. Chu)</h3></li>
<p>
    <img src="images/wicked-1.png" height="200" /><br />
    Wicked: Part I is a 2024 American musical fantasy film directed by Jon M. Chu and written
    by Winnie Holzman and Dana Fox. It is the first installment of a two-part film adaptation of
    the stage musical of the same name by Stephen Schwartz and Holzman, which was loosely based on
    Gregory Maguire's 1995 novel, a reimagining of the Oz books and the 1939 film The Wizard of Oz.
</p>

<li><h3>Oh, Hi! (dir. Sophie Brooks)</h3></li>
<p>
    <img src="images/ohhi-1.png" height="200" /><br />
    Oh, Hi! is a 2025 American romantic comedy film directed by Sophie Brooks and co-written with Molly Gordon.
    Starring Gordon, Logan Lerman, Geraldine Viswanathan, and John Reynolds, the film centers on a newly married couple
    (Gordon and Lerman) who go on a weekend road trip that takes an unexpected turn.
</p>

<li><h3>Promising Young Woman (dir. Emerald Fennell)</h3></li>
<p>
    <img src="images/woman-1.png" height="200" /><br />
    Maria is a 2024 biographical psychological drama film directed by Pablo Larraín
    and written by Steven Knight. It is an international co-production between Italy,
    Germany, and the United States. The film stars Angelina Jolie as opera singer Maria Callas,
    and follows the seven days before her death in 1977 Paris as she reflects on her life and career.
</p>

</ul>